[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "doc_printer"
version = "0.13.1"
description = "A Wadler-Leijen Pretty Printer in Python"
readme = "README.md"
requires-python = ">=3.9"
keywords = ["doc-printer"]
authors = [{ name = "Wen Kokke" }]
classifiers = [
  "License :: OSI Approved :: MIT License",
  "Topic :: Software Development :: Compilers",
]
dependencies = ["more_itertools"]

[project.optional-dependencies]
dev = ["pytest", "sphinx", "sphinx_bootstrap_theme", "build", "twine"]

[project.urls]
documentation = "https://wenkokke.github.io/py-doc-printer/"
repository = "https://github.com/wenkokke/py-doc-printer"

[tool.setuptools.package-data]
doc_printer = ["py.typed"]

[pytest]
testpaths = "test"

[tool.pytest.ini_options]
enable_assertion_pass_hook = true
filterwarnings = ["ignore::DeprecationWarning:.*:"]

[tool.bumpver]
current_version = "0.13.1"
version_pattern = "MAJOR.MINOR.PATCH"
commit_message = "Bump version {old_version} -> {new_version}"
commit = true
tag = true
push = true

[tool.bumpver.file_patterns]
"pyproject.toml" = ['current_version = "{version}"', 'version = "{version}"']
"doc-source/conf.py" = ['release = "{version}"']
