[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "doc-printer"
version = "0.8.0"
description = "A Wadler-Leijen Pretty Printer in Python"
readme = "README.md"
requires-python = ">=3.9"
keywords = ["doc-printer"]
authors = [{ name = "Wen Kokke" }]
classifiers = [
  "License :: OSI Approved :: MIT License",
  "Topic :: Software Development :: Compilers",
]
dependencies = ["overrides", "more_itertools"]

[project.optional-dependencies]
test = [
    "pytest"
]
sphinx = [
    "sphinx",
    "sphinx-toolbox >=3.1.2",
    "sphinx_bootstrap_theme",
]

[project.urls]
documentation = "https://wenkokke.github.io/py-doc-printer/"
repository = "https://github.com/wenkokke/py-doc-printer"

[tool.setuptools.package-data]
doc_printer = ["py.typed"]

[tool.bumpver]
current_version = "0.8.0"
version_pattern = "MAJOR.MINOR.PATCH"
commit_message = "Bump version {old_version} -> {new_version}"
commit = true
tag = true
push = true

[tool.bumpver.file_patterns]
"pyproject.toml" = ['current_version = "{version}"', 'version = "{version}"']
"doc-source/conf.py" = ['release = "{version}"']
