name: CI

on:
  push:
    branches:
      - dev

jobs:
  test:
    name: Test
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9", "3.10"]
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: "true"
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - run: pip install .[test]
      - run: pytest

  sphinx:
    name: Sphinx
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: "true"
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - run: pip install .[sphinx]
      - run: make html
      - uses: JamesIves/github-pages-deploy-action@v4.3.4
        with:
          branch: docs
          folder: _build/html
